<div class="container-index">


    <header>
        <a href="#" class="logo">APPWEB SEXTO A</a>
        <div class="d-flex">
            <a class="btn btn-dark" href="#"> ADMINISTRADOR</a>
        </div>
    </header>
    
    <div class="contenido"> 
        <div class="contenidobx">
            <h2>Mankar web <br>
            Reservas </h2>
            <p><b>Web de reservas de servios que ofrecen multiples talleres,
                estaciones de servicios, lavadoras, entre otros.<br>
                Enfocada a que los usuarios realiacen la reserva donde ellos elijan.                    
            </b></p>
            <a class="btn btn-primary" href="#"><b>INICIAR SESION</b></a>      
        </div>
    </div>

</div>