<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Mi primer Login</title>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la página -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


</head>
<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-4 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="../../../assets/images/ImagenSesion/user.png" alt="User Image" />
                </div>
                <form class="col-12" >
                  <div class="form-group" id="user-group">
                    <input type="text">

                  </div>

                    <div class="form-group" id="contrasena-group">
                        <input type="password">

                    </div>
                    <button type="submit" (click)="InicioSesion()" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>



                </form>


                <a class="btn btn-primary" href="/principal"><b>INICIAR SESION</b></a>    

                
                <!-- <form (ngSubmit)="InicioSesion()" #loginForm="ngForm">
                  <div class="form-group">
                    <label for="USUARIO_DNI">DNI de Usuario:</label>
                    <input type="text" id="USUARIO_DNI" name="USUARIO_DNI" [(ngModel)]="usuarioModel.USUARIO_DNI" required>
                  </div>
                  <div class="form-group">
                    <label for="USUARIO_PASSWORD">Contraseña:</label>
                    <input type="password" id="USUARIO_PASSWORD" name="USUARIO_PASSWORD" [(ngModel)]="usuarioModel.USUARIO_PASSWORD" required>
                  </div>
                  <button type="submit">Iniciar Sesión</button>
                </form> -->

               <!--  <form class="col-12" (ngSubmit)="InicioSesion()">
                   
                    <div class="form-group" id="user-group">
                        <input type="text" [(ngModel)]="usuarioModel.USUARIO_DNI" class="form-control" placeholder="Cedula de usuario" name="username" />
                    </div>  
                    <div class="form-group" id="contrasena-group">
                        <input type="password" [(ngModel)]="usuarioModel.USUARIO_PASSWORD" class="form-control" placeholder="Contrasena" name="password" />
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Ingresar </button>
                </form>  -->
                <!-- <form class="col-12" (ngSubmit)="InicioSesion()">
                    <div class="form-group" id="user-group">
                      <input type="text" [(ngModel)]="usuarioModel.USUARIO_DNI" class="form-control" placeholder="Cedula de usuario" name="username" />
                    </div>
                    <div class="form-group" id="contrasena-group">
                      <input type="password" [(ngModel)]="usuarioModel.USUARIO_PASSWORD" class="form-control" placeholder="Contraseña" name="password" />
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Ingresar </button>
                  </form> -->
                <div *ngIf="iniciong" class="alert alert-danger" role="alert">
		            El cedula que ingresaste es inválida, intenta nuevamente.
		        </div>
                <div *ngIf="contrang" class="alert alert-danger" role="alert">
		            La contraseña es incorrecta, intenta nuevamente.
		        </div>
                <div *ngIf="exito" class="alert alert-success" role="alert">
		            ¡Inicio de Sesión exitoso!
		        </div>
            </div>
        </div>
    </div>
</body>
</html>
